{% extends 'base.html.twig' %}

{% block title %}Création d'un lieu{% endblock %}
{% block body %}

<h2 class="text-center">Créer un lieu</h2>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.address) }}
    {{ form_row(form.latitude) }}
    {{ form_row(form.longitude) }}
    {{ form_row(form.town) }}
    <section class='row text-center'>
        <div class='col center'>
            <button type="submit" class='btn btn-primary btn-lg'>Enregistrer</button>
            <a href="{{ path('app_excursion_form') }}" class='btn btn-danger btn-lg'>Annuler</a>
        </div>
    </section>
    {{ form_end(form) }}

{% endblock %}
