{% extends 'base.html.twig' %}

{% block title "Profil" %}

{% block body %}

    <h2 class="text-center m-1">Mon profil</h2>

    <div class="container">

        <div class="row">

            <div class="logo col-md-3">
                {% if user.profileImage %}
                    <img class="img-thumbnail rounded-circle" src="{{ asset('uploads/profile_images/' ~ user.profileImage) }}" alt="{{ user.username }}'s profile picture">

                {% else %}
                    <img class="img-thumbnail rounded-circle" src="../uploads/profile_images/default_image.png" class="rounded float-start" alt="Aucun photo de profil">
                {% endif %}
            </div>

            <div class=" infos col-md-7">
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                {{ form_row(form.campus) }}

                <section class='row text-center mt-4'>
                    <div class='col center'>
                        <button type="submit" class='btn btn-primary btn-lg'>Enregistrer</button>
                        <a href="{{ path('app_home') }}" class='btn btn-danger btn-lg'>Annuler</a>
                    </div>
                </section>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{%  endblock %}