{% extends 'base.html.twig' %}

{% block title "Profil" %}

{% block body %}

    <h2 class="text-center m-1">Mon profil</h2>

    <div class="container">

        <div class="row">

            <div class="logo col-md-3">
                <img class="img-thumbnail rounded-circle"
                     src="{{ asset(user.profileImage ? 'uploads/profile_images/' ~ user.profileImage : 'uploads/profile_images/default_image.png') }}"
                     alt="{{ user.profileImage ? user.username ~ '\'s profile picture' : 'Aucun photo de profil' }}">
            </div>

            <div class=" infos col-md-7">
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                {{ form_row(form.campus) }}
                <div class="form-group">
                    {{ form_row(form.filePlaceholder) }}
                    {{ form_widget(form.profileImage) }}
                </div>
{#                {{ form_row(form.profileImage) }}#}


                <section class='row text-center mt-4'>
                    <div class='col center'>
                        <button type="submit" class='btn btn-primary btn-lg'>Enregistrer</button>
                        <a href="{{ path('app_home') }}" class='btn btn-danger btn-lg'>Annuler</a>
                    </div>
                </section>

                <script>
                    document.querySelector('#{{ form.filePlaceholder.vars.id }}').addEventListener('click', function() {
                        document.querySelector('#{{ form.profileImage.vars.id }}').click();
                    });

                    document.querySelector('#{{ form.profileImage.vars.id }}').addEventListener('change', function() {
                        document.querySelector('#{{ form.filePlaceholder.vars.id }}').value = this.files[0].name;
                    });
                </script>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{%  endblock %}