{% extends 'base.html.twig' %}

{% block title %} profil view {% endblock %}

{% block body %}
    <h2 class="text-center">{{ user.username }}</h2>

    <div class="container">
        <div class="row">
            <div class="logo col-md-3">
                <img class="img-thumbnail rounded-circle"
                     src="{{ asset(user.profileImage ? 'uploads/profile_images/' ~ user.profileImage : 'uploads/profile_images/default_image.png') }}"
                     alt="{{ user.profileImage ? user.username ~ '\'s profile picture' : 'Aucun photo de profil' }}">
            </div>
            <div class="infos col-md-7">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.surname }} {{ user.name }}</li>
                    <li class="list-group-item"><label>Téléphone :</label> {{ user.phone }}</li>
                    <li class="list-group-item"><label>E-mail :</label> {{ user.email }}</li>
                    <li class="list-group-item"><label>Campus :</label> {{ user.campus.name }}</li>
                </ul>
            </div>
            <div class="d-flex justify-content-center">
                {% if myprofile %}
                    <a href="{{ path('profil.edit') }}" class="btn btn-primary">Modifier</a>
                {% else %}
                    <a href="{{ path('app_home') }}" class="btn btn-primary">Retour</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}