{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Bienvenue {{ user.surname }} !</h1>
        <p>La date est le <b>{{ "now" | date("d/m/Y") }}</b>. Il est <b>{{ "now" | date("H:i", "Europe/Paris") }}</b>.
        </p>
    </div>

    <div>
        <h2>Sorties</h2>
        <a href="{{ path('app_excursion_form') }}" class="btn btn-outline-primary">Créer une sortie</a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Date de clôture</th>
                <th scope="col">Inscrits / Places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for excursion in excursions %}
                <tr>
                    <td>{{ excursion.name }}</td>
                    <td>{{ excursion.date | date("d/m/Y H:i", "Europe/Paris") }}</td>
                    <td>{{ excursion.deadline | date("d/m/Y") }}</td>
                    <td>{{ excursion.participants.count }} / {{ excursion.nbSeats }}</td>
                    <td>{{ excursion.status.translate }}</td>
                    <td>
                        {% if user in excursion.participants %}
                            &check;
                        {% endif %}
                    </td>
                    <td>
                        {% if user == excursion.organizer %}
                            {{ excursion.organizer.name }} {{ excursion.organizer.surname | first }}.
                        {% else %}
                            <a href="{{ path('profile_view', {'id': excursion.organizer.id}) }}">
                                {{ excursion.organizer.name }} {{ excursion.organizer.surname | first }}.
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if excursion.status.value != 'created' %}
                            <a href="{{ path('app_excursion_detail', { 'id': excursion.id }) }}">Afficher</a>
                        {% endif %}

                        {% if excursion.organizer.id == user.id %}
                            {% if excursion.status.value == 'created' %}
                                <a href="#">Modifier</a>
                                <a href="{{ path('app_excursion_publish', { 'id': excursion.id }) }}">Publier</a>
                            {% endif %}
                            {% if excursion.status.value != 'created' %}
                                <a href="#">Annuler</a>
                            {% endif %}
                        {% endif %}

                        {% if excursion.status.value == 'open' %}
                            {% set inscrit = 0 %}

                            {% for participant in excursion.participants %}

                                {% if participant.id == user.id %}
                                    {% set inscrit = 1 %}
                                {% endif %}

                            {% endfor %}

                            {% if inscrit == 0 %}
                                <a href="{{ path('app_excursion_inscription', { 'id': excursion.id }) }}">S'inscrire</a>
                            {% else %}
                                <a href="{{ path('app_excursion_desinscription', { 'id': excursion.id }) }}">Se désinscrire</a>
                            {% endif %}

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Filtres</h2>
        {{ form_start(filterForm) }}

        {{ form_label(filterForm.campus) }}
        {{ form_widget(filterForm.campus) }}
        {{ form_errors(filterForm.campus) }}

        {{ form_label(filterForm.name) }}
        {{ form_widget(filterForm.name) }}
        {{ form_errors(filterForm.name) }}

        {{ form_label(filterForm.datemin) }}
        {{ form_widget(filterForm.datemin) }}
        {{ form_errors(filterForm.datemin) }}

        {{ form_label(filterForm.datemax) }}
        {{ form_widget(filterForm.datemax) }}
        {{ form_errors(filterForm.datemax) }}

        {{ form_label(filterForm.organizer) }}
        {{ form_widget(filterForm.organizer) }}
        {{ form_errors(filterForm.organizer) }}

        {{ form_label(filterForm.participating) }}
        {{ form_widget(filterForm.participating) }}
        {{ form_errors(filterForm.participating) }}

        {{ form_label(filterForm.nonparticipating) }}
        {{ form_widget(filterForm.nonparticipating) }}
        {{ form_errors(filterForm.nonparticipating) }}

        {{ form_label(filterForm.showpast) }}
        {{ form_widget(filterForm.showpast) }}
        {{ form_errors(filterForm.showpast) }}

        <button type="submit" class="btn btn-primary m-1">Appliquer</button>
        <a href="{{ path('app_home') }}" class="btn btn-primary m-1">Réinitialiser</a>

        {{ form_end(filterForm) }}
    </div>
{% endblock %}